@import "../../common/vars.scss";

.navbar {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cc-teal-light4;

  .status {
    border-radius: 5px;
    padding: 5px;
    background-color: $cc-teal-light7;
    font-size: 14px;
  }

  .online {
    color: $cc-orange;
  }

  .offline {
    color: $cc-teal-dark2;
  }

  .concord-logo {
    padding-left: 15px;
    width: 100px;
  }

  .exit-button {
    border: 2px solid $cc-teal-light7;
    background-color: $cc-teal-light7;
    color: $font-color;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    cursor: pointer;

    .exit-icon {
      width: 15px;
      margin-right: 7px;
      color: $cc-teal-dark2;
    }
  }

}
