@import "../../common/vars.scss";

.tabs-container {
  width: 5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;

  .tab {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: $cc-teal-light5;
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    font-size: 16px;
    color: $cc-teal-dark2;
    font-weight: bold;
    cursor: pointer;

    span {
      pointer-events: none;
    }

    svg {
      pointer-events: none;
    }

    &:disabled {
      opacity: 50%;
      cursor: default;
    }

    .vertical {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }
  .measurement {
    background-color: $cc-teal-light6;
  }
}