.authoring {
  font-size: 12px;
  margin-left: 2em;
  font-family: 'Lato', sans-serif;

  div {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  label {
    font-size: 16px;
  }

  .sub {
    margin-left: 2em;
    label {
      font-size: 14px;    }
  }
}

.padded {
  margin-top: 25px;
}